

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <p><%- messages() %></p>

    <% if (errors && errors.length > 0) { %>
      <ul class="error-messages">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
<p>ALL FIELS ARE REQUIRED</p>
    <div class="add-vehicle">
        <div class="form-container">
          <form action="/inv/update" method="POST" class="registerform-">
            <div class="form-group">
                <label for="classificationList">Classification:</label>
                <div class="form-group">
                  <%- classificationSelect %>
    </div>
              </div>
              <div class="form-group">
                <label for="inv_make">Make</label>
                <input type="text" id="inv_make" name="inv_make" required value=<%= inv_make %>>
              </div>
            <div class="form-group">
              <label for="inv_model">Model:</label>
              <input type="text" id="inv_model" name="inv_model" required value=<%= inv_model %>>
            </div>
            <div class="form-group">
              <label for="inv_description">Description:</label>
            <input type="text" id="inv_description" name="inv_description" required value="<%= inv_description %>">
            </div>
            <div class="form-group">
                <label for="inv_image">Image Path:</label>
                <input type="text" id="inv_image" name="inv_image"  required value=<%= inv_image %> >
              </div>
              <div class="form-group">
                <label for="inv_thumbnail">Thumbnail Path:</label>
                <input type="text" id="inv_thumbnail" name="inv_thumbnail"  required value=<%= inv_thumbnail %> >
              </div>
              <div class="form-group">
                <label for="inv_price">Price:</label>
                <input type="text" id="inv_price" name="inv_price"  required value=<%= inv_price %>>
              </div>
              <div class="form-group">
                <label for="inv_year">Year:</label>
                <input type="text" id="inv_year" name="inv_year"  required value=<%= inv_year %>>
              </div>
              <div class="form-group">
                <label for="inv_miles">Miles:</label>
                <input type="text" id="inv_miles" name="inv_miles"  required value=<%= inv_miles %>>
              </div>
              <div class="form-group">
                <label for="inv_color">Color:</label>
                <input type="text" id="inv_color" name="inv_color"  required value=<%= inv_color %>>
              </div>
            <button id="updateForm" type="submit" disabled>Update Vehicle </button>
            <input type="hidden" name="inv_id"
          <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
          <% } %>>
        </form>
        </div>
      </div>

      <script src="../../js/inv-update.js"></script>